* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.filter-search-sidebar {
    /* background-color: rgb(24, 12, 47); */
    border-radius: 5px;
}
.search-map {
    width: 100%;
    height: 100%;
    height: 700px;
}
.search-input {
    border: none !important;
    box-shadow: 10px 5px 5px 0px rgba(0,0,0,0.03);
-webkit-box-shadow: 10px 5px 5px 0px rgba(0,0,0,0.03);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.03);
    padding: 1rem 1.3rem;
    outline: none;
    border-radius: 10px;
    width: 100%;
    font-size: 16px;
}
.result-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background: #fff;
    box-shadow: 10px 5px 5px 0px rgba(0,0,0,0.03);
    -webkit-box-shadow: 10px 5px 5px 0px rgba(0,0,0,0.03);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.03);
    height: 200px;
    overflow: hidden;
}
.result-card .img-container {
    width: 40%;
    height: 100%;
    object-fit: cover;
}
.result-card-content {
    width: 60%;
    height: 100%;
}

@media (max-width: 1148px) {
    .search-map {
        width: 100%;
        height: 100%;
        height: 400px;
    }
}

